In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
traindf = pd.read_csv("/kaggle/input/playground-series-s4e1/train.csv")
testdf = pd.read_csv("/kaggle/input/playground-series-s4e1/test.csv")
sampledf = pd.read_csv("/kaggle/input/playground-series-s4e1/sample_submission.csv")

In [3]:
traindf.head(5)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [4]:
testdf.head(5)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [5]:
traindf.shape

(165034, 14)

In [6]:
testdf.shape

(110023, 13)

In [7]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

In [8]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110023 entries, 0 to 110022
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               110023 non-null  int64
 1   CustomerId       110023 non-null  int64
 2   Surname          110023 non-null  object
 3   CreditScore      110023 non-null  int64
 4   Geography        110023 non-null  object
 5   Gender           110023 non-null  object
 6   Age              110023 non-null  float64
 7   Tenure           110023 non-null  int64
 8   Balance          110023 non-null  float64
 9   NumOfProducts    110023 non-null  int64
 10  HasCrCard        110023 non-null  float64
 11  IsActiveMember   110023 non-null  float64
 12  EstimatedSalary  110023 non-null  float64
dtypes: float64(5), int64(5), object(3)
memory usage: 10.9+ MB

In [9]:
sampledf.head(5)

       id  Exited
0  165034     0.5
1  165035     0.5
2  165036     0.5
3  165037     0.5
4  165038     0.5

In [10]:
traindf.isnull().sum()

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
testdf.isnull().sum()

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [12]:
traindf.duplicated().sum()

0

In [13]:
testdf.duplicated().sum()

0

In [14]:
exited_unique = traindf['Exited'].value_counts()
exited_unique

Exited
0    130113
1     34921
Name: count, dtype: int64

In [15]:
churn_df = traindf[traindf['Exited'] == 1]
nonchurn_df = traindf[traindf['Exited'] == 0]

### Age

In [16]:
average_age_churned = churn_df['Age'].mean()
average_age_nonchurn = nonchurn_df['Age'].mean()

print("Average age of churned customers:", round(average_age_churned,2))
print("Average age of non-churn customers:", round(average_age_nonchurn,2))

if average_age_churned > average_age_nonchurn:
    print("==> The average age of churned customers is higher than that of the non-churn customers.")
elif average_age_churned < average_age_nonchurn:
    print("==> The average age of non-churn customers is higher than that of the churned customers.")
else:
    print("==> The average age of churned customers is equal to the average age of non-churn customers.")

Average age of churned customers: 43.96
Average age of non-churn customers: 36.56
==> The average age of churned customers is higher than that of the non-churn customers.

### Credit Score

In [17]:
average_creditscore_churned = churn_df['CreditScore'].mean()
average_creditscore_nonchurn = nonchurn_df['CreditScore'].mean()

print("Average CreditScore of churned customers:", round(average_creditscore_churned,2))
print("Average CreditScore of non-churn customers:", round(average_creditscore_nonchurn,2))

if average_creditscore_churned > average_creditscore_nonchurn:
    print("==> The average CreditScore of churned customers is higher than that of the non-churn customers.")
elif average_creditscore_churned < average_creditscore_nonchurn:
    print("==> The average CreditScore of non-churn customers is higher than that of the churned customers.")
else:
    print("==> The average CreditScore of churned customers is equal to the average age of non-churn customers.")

Average CreditScore of churned customers: 652.22
Average CreditScore of non-churn customers: 657.59
==> The average CreditScore of non-churn customers is higher than that of the churned customers.

### Account Balance

In [18]:
average_accountbalance_churned = churn_df['Balance'].mean()
average_accountbalance_nonchurn = nonchurn_df['Balance'].mean()

print("Average AccountBalance of churned customers:", round(average_accountbalance_churned,2))
print("Average AccountBalance of non-churn customers:", round(average_accountbalance_nonchurn,2))

if average_accountbalance_churned > average_accountbalance_nonchurn:
    print("==> The average AccountBalance of churned customers is higher than that of the non-churn customers.")
elif average_accountbalance_churned < average_accountbalance_nonchurn:
    print("==> The average AccountBalance of non-churn customers is higher than that of the churned customers.")
else:
    print("==> The average AccountBalance of churned customers is equal to the average age of non-churn customers.")

Average AccountBalance of churned customers: 71209.98
Average AccountBalance of non-churn customers: 51255.81
==> The average AccountBalance of churned customers is higher than that of the non-churn customers.

### Estimated Salary

In [19]:
average_estimatedsalary_churned = churn_df['EstimatedSalary'].mean()
average_estimatedsalary_nonchurn = nonchurn_df['EstimatedSalary'].mean()

print("Average EstimatedSalary of churned customers:", round(average_estimatedsalary_churned,2))
print("Average EstimatedSalary of non-churn customers:", round(average_estimatedsalary_nonchurn,2))

if average_estimatedsalary_churned > average_estimatedsalary_nonchurn:
    print("==> The average EstimatedSalary of churned customers is higher than that of the non-churn customers.")
elif average_estimatedsalary_churned < average_estimatedsalary_nonchurn:
    print("==> The average EstimatedSalary of non-churn customers is higher than that of the churned customers.")
else:
    print("==> The average EstimatedSalary of churned customers is equal to the average age of non-churn customers.")

Average EstimatedSalary of churned customers: 114402.5
Average EstimatedSalary of non-churn customers: 112084.29
==> The average EstimatedSalary of churned customers is higher than that of the non-churn customers.

### Tenure

In [20]:
average_tenure_churned = churn_df['Tenure'].mean()
average_tenure_nonchurn = nonchurn_df['Tenure'].mean()

print("Average Tenure of churned customers:", round(average_tenure_churned,2))
print("Average Tenure of non-churn customers:", round(average_tenure_nonchurn,2))

if average_tenure_churned > average_tenure_nonchurn:
    print("==> The average Tenure of churned customers is higher than that of the non-churn customers.")
elif average_tenure_churned < average_tenure_nonchurn:
    print("==> The average Tenure of non-churn customers is higher than that of the churned customers.")
else:
    print("==> The average Tenure of churned customers is equal to the average age of non-churn customers.")

Average Tenure of churned customers: 4.91
Average Tenure of non-churn customers: 5.05
==> The average Tenure of non-churn customers is higher than that of the churned customers.

### Number of Bank products

In [21]:
average_products_churned = churn_df['NumOfProducts'].mean()
average_products_nonchurn = nonchurn_df['NumOfProducts'].mean()

print("Average Number_of_BankProducts of churned customers:", round(average_products_churned,2))
print("Average Number_of_BankProducts of non-churn customers:", round(average_products_nonchurn,2))

if average_products_churned > average_products_nonchurn:
    print("==> The average Number_of_BankProducts of churned customers is higher than that of the non-churn customers.")
elif average_products_churned < average_products_nonchurn:
    print("==> The average Number_of_BankProducts of non-churn customers is higher than that of the churned customers.")
else:
    print("==> The average Number_of_BankProducts of churned customers is equal to the average age of non-churn customers.")

Average Number_of_BankProducts of churned customers: 1.33
Average Number_of_BankProducts of non-churn customers: 1.62
==> The average Number_of_BankProducts of non-churn customers is higher than that of the churned customers.

### Has a CreditCard

In [22]:
count_hascrcard_churned = (churn_df['HasCrCard'] == 1).sum()
count_hascrcard_nonchurn = (churn_df['HasCrCard'] == 0).sum()

print("Number of churned customers with CreditCard:", count_hascrcard_churned)
print("Number of non-churn customers with CreditCard:", count_hascrcard_nonchurn)

if count_hascrcard_churned > count_hascrcard_nonchurn:
    print("==> Number of churned customers with CreditCard is higher than that of the non-churn customers.")
elif count_hascrcard_churned < count_hascrcard_nonchurn:
    print("==> Number of non-churn customers with CreditCard is higher than that of the churned customers.")
else:
    print("==> Number of churned customers with CreditCard is equal to the average age of non-churn customers.")

Number of churned customers with CreditCard: 25686
Number of non-churn customers with CreditCard: 9235
==> Number of churned customers with CreditCard is higher than that of the non-churn customers.

### Active Member

In [23]:
count_activemember_churned = (churn_df['IsActiveMember'] == 1).sum()
count_activemember_nonchurn = (churn_df['IsActiveMember'] == 0).sum()

print("Number of churned customers who are active:", count_activemember_churned)
print("Number of non-churn customers who are active:", count_activemember_nonchurn)

if count_activemember_churned > count_activemember_nonchurn:
    print("==> Number of churned customers who are active is higher than that of the non-churn customers.")
elif count_activemember_churned < count_activemember_nonchurn:
    print("==> Number of non-churn customers who are active is higher than that of the churned customers.")
else:
    print("==> Number of churned customers who are active is equal to the average age of non-churn customers.")

Number of churned customers who are active: 10297
Number of non-churn customers who are active: 24624
==> Number of non-churn customers who are active is higher than that of the churned customers.